<div class="row">
  <div class="col-lg-3 col-6">
    <div class="small-box bg-info">
      <div class="inner">
        <h3><%= totalStudents %></h3>
        <p>Total Students</p>
      </div>
      <div class="icon"><i class="fas fa-user-graduate"></i></div>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <div class="small-box bg-success">
      <div class="inner">
        <h3><%= totalHODs %></h3>
        <p>Total HODs</p>
      </div>
      <div class="icon"><i class="fas fa-chalkboard-teacher"></i></div>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <div class="small-box bg-warning">
      <div class="inner">
        <h3><%= totalCompanies %></h3>
        <p>Total Companies</p>
      </div>
      <div class="icon"><i class="fas fa-building"></i></div>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <div class="small-box bg-danger">
      <div class="inner">
        <h3><%= selectedStudents %></h3>
        <p>Selected Students</p>
      </div>
      <div class="icon"><i class="fas fa-check-circle"></i></div>
    </div>
  </div>

  <div class="col-lg-3 col-6">
    <div class="small-box bg-primary">
      <div class="inner">
        <h3><%= totalJobs %></h3>
        <p>Total Jobs</p>
      </div>
      <div class="icon"><i class="fas fa-briefcase"></i></div>
    </div>
  </div>
</div>
