<%- include('./layouts/navbar.ejs') %> <%- include('./layouts/sidebar.ejs') %>


<div class="content-wrapper">
  <div class="container p-4">
    <h3>Change Password (<%= user.role.toUpperCase() %>)</h3>

    <% if (error.length > 0) { %>
      <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if (success.length > 0) { %>
      <div class="alert alert-success"><%= success %></div>
    <% } %>

    <form method="POST" action="/change-password">
      <div class="form-group">
        <label>Old Password</label>
        <input type="password" name="oldPassword" class="form-control" required />
      </div>
      <div class="form-group">
        <label>New Password</label>
        <input type="password" name="newPassword" class="form-control" required />
      </div>
      <div class="form-group">
        <label>Confirm New Password</label>
        <input type="password" name="confirmPassword" class="form-control" required />
      </div>
      <button class="btn btn-primary mt-2">Update Password</button>
    </form>
  </div>
</div>

<%- include('./layouts/footer') %>
