<%- include('../layouts/navbar.ejs') %> 
<%- include('../layouts/sidebar.ejs') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">HOD Display</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">HOD Page</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <button
            type="button"
            class="btn btn-info"
            data-toggle="modal"
            data-target="#modal-default"
          >
            Add HOD
          </button>

          <% if(error.length> 0){ %>
            <div class="alert alert-danger">
              <!-- To print -->
              <%= error %>
            </div>
            <% } %> <% if(success.length> 0){ %>
            <div class="alert alert-success">
              <!-- To print -->
              <%= success %>
            </div>
            <% } %>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>S.No</th>
                <th>HOD Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Department</th>
                <th>Image</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% hod.forEach((item,index)=>{ %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= item.name  %></td>
                  <td><%= item.email %></td>
                  <td><%= item.phone %></td>
                  <td><%= item.department %></td>

                  <td><img src="<%= item.image.url %>" width="100"></td>
                  <td>
                    <!-- <a href="/hodView/<%= item._id %>" class="btn btn-info">View</a> -->
                    <a href="/hodEdit/<%= item._id %>" class="btn btn-success">Edit</a>
                    <a href="/hodDelete/<%= item._id %>" class="btn btn-danger">Delete</a>
                  </td>
                </tr>

             <% }) %>
            </tbody>

            <tfoot>
              <tr>
                <th>S.No</th>
                <th>HOD Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Department</th>
                <th>Image</th>
               
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!--model add student-->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add HOD</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/inserthod" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="">HOD Name</label>
            <input type="text" name="name" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="">Address</label>
            <textarea name="address" id="" class="form-control" required></textarea>
          </div>
          <div class="form-group">
            <label for="">Gender</label>
            <select name="gender" id="" class="form-control" required>
              <option value="">Selete gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>  
          <div class="form-group">
            <label for="">Department</label>
            <select name="department" id="" class="form-control" required>
              <option value="">Selete Department</option>
              <option value="IT">IT</option>
              <option value="CSE">CSE</option>
              <option value="EC">EC</option>
              <option value="AI">AI</option>
              <option value="ML">ML</option>
              <option value="MCA">MCA</option>
              <option value="MBA">MBA</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="text" name="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="">Phone</label>
            <input type="number" name="phone" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="">Password</label>
            <input type="password" name="password" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="">Image</label>
            <input type="file" name="image" class="form-control" required>
          </div>
          
          <button type="submit" class="btn btn-info">Submit</button>
        </form>
        
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<%- include('../layouts/footer.ejs') %>
